body {
     background: black;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;
 
}

.directory-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-item {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  margin: 0 7.5px 15px;
//   backface-visibility: initial;
//   transform-style: preserve-3d; 
//   transform: rotate(2deg);
//   outline: 1px solid transparent;
//   transform: skew(-2.5deg);

  &:hover{
   transform: scale(0.99);
  }
  

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;

    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: #4a4a4a;
      background: white;
    }

    .subtitle {
         background: white;
      font-weight: lighter;
      font-size: 16px;
    }
  }
}